body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Poppins', sans-serif;

}

body,
html {
    height: 100%;
}


.bg-firstsection {

    background-image: url(images/pic3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.button {
    color: black;
    background-image: linear-gradient(to right, rgb(174, 149, 149), coral);
    font-size: xx-large;
    text-decoration: none;
    background-color: coral;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;

}

.first-section h1 {
    padding-top: 200px;
    font-size: 70px;

}

.first-section p {

    font-weight: 700;
    font-size: 30px;

}

.first-section {
    text-align: center;
    position: relative;
}

.second-section h1 {
    font-size: 50px;

}

.second-section p {
    color: gray;

    font-size: 20px;

}

.second-section {
    text-align: center;
    position: relative;
}

.donate-section {
    padding-left: 250px;
    position: absolute;
    position: relative;
    text-align: center;
    display: flex;
    padding-right: 250px;

}

.donate-div {
    background-color: wheat;
    margin: auto;
    font-size: 30px;
    padding: 10px 30px;
    text-align: center;
}

.hr-section {
    padding: 10px;
    color: gray;
    font-weight: 700;
}

.hr-section hr {
    width: 50%;
    text-align: justify;
}

.hr-section h3 {

    text-align: center;
}

.second-button {
    text-align: center;
}

.third-section h1 {
    padding-top: 60px;
    text-align: center;
    font-size: 50px;
}

.third-section p {
    text-align: center;
    color: gray;

}

.forth-section {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;

    display: flex;
}

.forth-div {
    text-align: left;
    margin: 10px;
    padding: 10px 20px;

}

#bg-1 {
    background-color: bisque;

}

#bg-2 {
    background-color: beige;

}

#bg-3 {
    background-color: cornsilk;

}

.forth-div p {
    text-align: justify;
}

.fifth-section {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.fifth-div h1 {
    font-size: 50px;
}

.fifth-div p {
    color: gray;
    padding-bottom: 10px;
    padding-right: 30px;
    text-align: justify;
}

.sixth-section {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;

}

.sixth-section img {
    padding-top: 20px;
    height: 100%;
    width: 100%;
}

.sixth-div {
    padding-left: 20px;
}

.sixth-div p {
    color: gray;
    text-align: justify;
    padding-left: 30px;
}

.sixth-div h1 {
    padding-left: 30px;
    font-size: 50px;
}

.seventh-section {
    padding: 50px;
}

.seventh-section h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.seventh-section p {
    padding-bottom: 20px;
    color: gray;
    text-align: center;
}

.seventh-section div {
    margin-left: 20%;
    padding-top: 45px;
    height: 100px;
    width: 900px;
    text-align: center;
    background-color: antiquewhite;
}

#email {

    font-size: 20px;
    padding: 10px 20px;
}

#email-button {
    font-weight: 700;
    padding: 10px 20px;
    font-size: 20px;
    background-color: crimson;
    color: whitesmoke;

}

.eighth-section {

    margin-top: 50px;

    background-color: rgb(4, 4, 19);
}

#eighth-div {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: aliceblue;
}