body {
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.bg-firstsection {

    background: rgba(0, 0, 0, 0.5)url("images/pic3.jpg");
    height: 1000px;
    background-size: cover;
    background-blend-mode: darken;
    margin-top: -60px;
}

.button {
    color: black;
    background-image: linear-gradient(to right, rgb(174, 149, 149), coral);
    font-size: xx-large;
    text-decoration: none;
    background-color: coral;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;

}

.first-section h1 {
    padding-top: 200px;
    font-size: 70px;

}

.first-section p {

    font-weight: 700;
    font-size: 30px;

}

.first-section {
    text-align: center;

}

.second-section h1 {
    font-size: 50px;

}

.second-section p {
    margin-bottom: 50px;
    color: gray;
    font-size: 20px;

}

.second-section {
    margin-top: 300px;
    text-align: center;
    position: relative;
}

.donate-section {
    padding-left: 250px;
    position: absolute;
    position: relative;
    text-align: center;
    display: flex;
    padding-right: 250px;

}

.donate {
    margin: 0px 10px;
    width: 180px;
    color: whitesmoke;
    border: 2px solid red;
    background-color: rgba(255, 99, 71, 0.535);
    font-size: 30px;
    padding: 30px 0px;
    text-align: center;

}

.donate-div {
    margin: 0px 10px;
    width: 180px;
    background-color: wheat;
    font-size: 30px;
    padding: 30px 0px;
    text-align: center;
}

.hr-section {
    padding: 20px;
    margin: 20px;
    color: gray;
    font-weight: 700;
}

.hr-section hr {
    width: 50%;
    text-align: justify;
}

.hr-section h3 {

    text-align: center;
}

.second-button {
    text-align: center;
}

.third-section h1 {
    padding-top: 60px;
    text-align: center;
    font-size: 50px;
}

.third-section p {
    text-align: center;
    color: gray;

}

.forth-section {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;

    display: flex;
}

.forth-div {
    text-align: left;
    margin: 10px;
    padding: 10px 20px;

}

#bg-1 {
    background-color: bisque;

}

#bg-2 {
    background-color: beige;

}

#bg-3 {
    background-color: cornsilk;

}

.forth-div p {
    text-align: justify;
}

.fifth-section {
    height: 400px;
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.fifth-div h1 {
    font-size: 50px;
    margin: 20px;
}

.fifth-div p {
    color: gray;
    margin: 20px;
    text-align: justify;
}

.fifth-div a {
    margin: 20px;
}

.sixth-section {
    height: 400px;
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;

}

.sixth-div a {
    margin: 30px;
}

.sixth-section img {
    margin: 20px;
    height: 100%;
    width: 100%;
}

.sixth-div {
    padding-left: 20px;
}

.sixth-div p {
    color: gray;
    text-align: justify;
    padding-left: 30px;
}

.sixth-div h1 {
    padding-left: 30px;
    font-size: 50px;
}

.seventh-section {
    margin-top: 150px;
}

.seventh-section h1 {
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.seventh-section p {
    padding-bottom: 20px;
    color: gray;
    text-align: center;
}

.seventh-section div {
    padding-top: 50px;
    margin-left: 20%;
    height: 100px;
    width: 900px;
    text-align: center;
    background-color: antiquewhite;
}

#email {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    margin-right: -5px;
}

#email-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 20px;
    background-color: crimson;
    color: whitesmoke;

}

.eighth-section {
    height: 160px;
    margin-top: 50px;
    text-align: center;
    background-color: rgb(4, 4, 19);
}

.eighth-section p {
    color: aliceblue;
    margin-top: 0;

}

.eighth-section h1 {
    color: tomato;
    font-family: "Sofia", sans-serif;
    padding-top: 30px;

}