.bg {
    background-image: url(images/pic2.jpeg);
    height: 100%;
    width: 100%;
    display: block;

}

.first-section {
    color: whitesmoke;
    text-align: left;
    font-size: 50px;
    margin-left: 20px;

}





.link-button {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    background-image: linear-gradient(to right, whitesmoke, orange);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    margin-left: 20px;

}

link-button :hover {
    color: brown;
    border: 2px black solid;
}

.second-section {
    color: black;
    text-align: center;
    font-size: 40px;



}

section {
    height: 500px;
}

.float {
    display: inline-flex;
}

.box-model {
    padding: 10px 10px 10px 10px;
    border: 0px white solid;
    background-color: whitesmoke;
    margin: 20px;
}